<section class="page country-page">
    <div class="country-box">
        <div class="country-header">
            <div class="country-header-img">
                <img src="{{country.image}}" alt="{{country.name}} image">
            </div>
            <div class="country-header-content">
                <div class="country-header-title">
                    <img src="{{country.flag}}" alt="{{country.name}} flag">
                    <h2>{{country.name}}</h2>
                </div>
                <div class="country-header-status">
                    <button type="button" id="country-status-visited" class="country-status-visited"></button>
                    <button type="button" id="country-status-wishlist" class="country-status-wishlist"></button>
                </div>
            </div>
        </div>
        <div class="country-main">
            <div class="country-main-info">
                <p>Main City : {{country.mainCity}}</p>
                <p>Languages : {{country.languages}}</p>
                <p>Currency : {{country.currency}}</p>
                <p>{{country.info}}</p>
            </div>
            <div class="country-main-gallery">

            </div>
        </div>
    </div>
    <div class="tips-box">
        <div class="tips-nav">
            <button class="tips-category active" type="button"><i class="fas fa-wine-glass-alt"></i> Bars</button>
            <button class="tips-category" type="button"><i class="fas fa-utensils"></i> Restaurants</button>
            <button class="tips-category" type="button"><i class="fas fa-leaf"></i> Parks</button>
            <button class="tips-category" type="button"><i class="fas fa-eye"></i> Monuments</button>
            <button class="tips-category" type="button"><i class="fas fa-shopping-bag"></i> Shopping</button>
            <button class="tips-category" type="button"><i class="fas fa-info"></i> Info</button>
        </div>

    </div>
</section>