<section class="page country-page flex">
    <div class="country-box flex">
        <div class="country-header flex">
            <div class="country-header-img">
                <img src="{{country.image}}" alt="{{country.name}} image">
            </div>
            <div class="country-header-content flex">
                <div class="country-header-title flex">
                    <img src="{{country.flag}}" alt="{{country.name}} flag">
                    <h2>{{country.name}}</h2>
                </div>
                <div class="country-header-status">
                    <button type="button" id="country-status-visited" data-country-id="{{country.codeName}}" class="country-status-visited"><i class="fas fa-star"></i> Visited</button>
                    <button type="button" id="country-status-wishlist" data-country-id="{{country.codeName}}" class="country-status-wishlist"><i class="fas fa-heart"></i> Wishlist</button>
                </div>
            </div>
        </div>
        <div class="country-main">
            <div class="country-main-info">
                <p>Main City : {{country.mainCity}}</p>
                <p>Languages : {{country.languages}}</p>
                <p>Currency : {{country.currency}}</p>
                <p>Zone : {{country.info}}</p>
            </div>
        </div>
    </div>
    <div class="tips-box flex">
        {{#unless isLoggedIn}}
        <p>Please <a href="/auth/signup">log in</a> to view the tips !</p>
        {{/unless}}
        {{#if isLoggedIn}}
        <div class="tips-nav flex">
            <div class="tips-nav-list">
                <button class="tips-category active" type="button"><i class="fas fa-wine-glass-alt"></i></button>
                <button class="tips-category" value="restaurant"><i class="fas fa-utensils"></i></button>
                <button class="tips-category" value="park"><i class="fas fa-leaf"></i></button>
                <button class="tips-category" value="monument"><i class="fas fa-eye"></i></button>
                <button class="tips-category" value="shopping"><i class="fas fa-shopping-bag"></i></button>
                <button class="tips-category" value="info"><i class="fas fa-info"></i></button>
            </div>
            <div class="tips-nav-add">
                <button type="button">+</button>
            </div>
        </div>
        <form class="form tip-form flex hidden" action="/tips/add/{{country._id}}/{{country.codeName}}" method="post">
            <div class="tip-inputs flex">
                <div class="form-item flex">
                    <label for="category" class="form-label">Category :</label>
                    <select name="category" class="form-input select" id="tip-form-category" required>
                        <option value="-1" disabled selected>Choose a category</option>
                        <option value="Bar">Bar</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Museum">Museum</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Garden">Garden</option>
                        <option value="Info">Info</option>
                    </select>
                </div>
                <div class="form-item flex">
                    <label for="name" class="form-label">Name :</label>
                    <input name="name" class="form-input" id="tip-form-name" type="text" placeholder="Chez Louise" required>
                </div>
                <div class="form-item flex">
                    <label for="country" class="form-label">Country :</label>
                    <input name="country" class="form-input disabled" id="tip-form-country" type="text" value="{{country.name}}"
                        disabled required>
                </div>
                <div class="form-item flex">
                    <label for="city" class="form-label">City :</label>
                    <input name="city" class="form-input" id="tip-form-city" type="text" placeholder="Bordeaux" required>
                </div>
                <div class="form-item flex">
                    <label for="body" class="form-label">Info :</label>
                    <textarea name="body" class="form-input textarea" id="tip-form-body" type="text"
                        placeholder="Type here"></textarea>
                </div>
                <div class="form-item flex">
                    <label for="address" class="form-label">Address :</label>
                    <input name="address" class="form-input" id="tip-form-address" type="text"
                        placeholder="12 rue Merlot // Saint-Pierre" required>
                </div>
                <div class="form-item flex">
                    <label for="user" class="form-label">By :</label>
                    <input name="user" class="form-input" id="tip-form-user" type="text" value="{{currentUser.username}}"
                        required disabled>
                </div>

            </div>
            <button class="form-button" id="tip-form-button">Submit</button>
        </form>
        <div class="tips-list">
            {{#each tips}}
            <hr>
            <article class="tip-container flex">
                <div class="tip-head">
                    <h3>{{this.name}}</h3> <p>({{this.category}})</p>
                </div>
                <p class="tip-location">{{this.city}}, {{this.country.name}}</p>
                <p class="tip-body">"{{this.body}}"</p>
                <p class="tip-address">{{this.address}}</p>
                <p class="tip-user">Added by : {{this.user.username}}</p>  
            </article>
            {{/each}}
        </div>
        {{/if}}
    </div>
</section>