<section class="page country-page">
    <div class="country-box">
        <div class="country-header">
            <div class="country-header-img">
                <img src="{{country.image}}" alt="{{country.name}} image">
            </div>
            <div class="country-header-content">
                <div class="country-header-title">
                    <img src="{{country.flag}}" alt="{{country.name}} flag">
                    <h2>{{country.name}}</h2>
                </div>
                <div class="country-header-status">
                    <button type="button" id="country-status-visited" class="country-status-visited"><i class="fas fa-star"></i> Visited</button>
                    <button type="button" id="country-status-wishlist" class="country-status-wishlist"><i class="fas fa-heart"></i> Wishlist</button>
                </div>
            </div>
        </div>
        <div class="country-main">
            <div class="country-main-info">
                <p>Main City : {{country.mainCity}}</p>
                <p>Languages : {{country.languages}}</p>
                <p>Currency : {{country.currency}}</p>
                <p>{{country.info}}</p>
            </div>
            <div class="country-main-gallery">

            </div>
        </div>
    </div>
    <div class="tips-box">
        {{#unless isLoggedIn}}
        Please 
        {{/unless}}
        {{#if isLoggedIn}}
        <div class="tips-nav">
            <div class="tips-nav-list">
                <button class="tips-category active" type="button"><i class="fas fa-wine-glass-alt"></i> Bars</button>
                <button class="tips-category" type="button"><i class="fas fa-utensils"></i> Restaurants</button>
                <button class="tips-category" type="button"><i class="fas fa-leaf"></i> Parks</button>
                <button class="tips-category" type="button"><i class="fas fa-eye"></i> Monuments</button>
                <button class="tips-category" type="button"><i class="fas fa-shopping-bag"></i> Shopping</button>
                <button class="tips-category" type="button"><i class="fas fa-info"></i> Info</button>
            </div>
            <div class="tips-nav-add">
                <button type="button">+</button>
            </div>
        </div>
        <div class="tips-list">
            {{#each tips}}
            <article class="tip-container">
                <div class="tip-category">
                    {{this.category}}
                </div>
                <div class="tip-content">
                    <h3>{{this.name}}</h3>
                    <span class="tip-location">{{this.city}}, {{this.country}}</span>
                    <hr>
                    <p class="tip-body">{{this.body}}</p>
                    <span class="tip-address">{{this.address}}</span>
                    <span class="tip-user">{{this.user}}</span>
                </div>
            </article>
            {{/each}}
        </div>
        {{/if}}
    </div>
    <form class="form tip-form hidden" action="/tips/add" method="post">
        <div class="form-item flex">
            <label for="category" class="form-label">Category</label>
            <select name="category" class="form-input select" id="tip-form-category" required>
                <option value="-1" disabled selected>Choose a category</option>
                <option value="Bar">Bar</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Museum">Museum</option>
                <option value="Shopping">Shopping</option>
                <option value="Garden">Garden</option>
                <option value="Info">Info</option>
            </select>
        </div>
        <div class="form-item flex">
            <label for="name" class="form-label">Name</label>
            <input name="name" class="form-input" id="tip-form-name" type="text" placeholder="Chez Louise" required>
        </div>
        <div class="form-item flex">
            <label for="country" class="form-label">Country</label>
            <input name="country" class="form-input disabled" id="tip-form-country" type="text" value="{{country.name}}" disabled required>
        </div>
        <div class="form-item flex">
            <label for="city" class="form-label">City</label>
            <input name="city" class="form-input" id="tip-form-city" type="text" placeholder="Bordeaux" required>
        </div>
        <div class="form-item flex">
            <label for="body" class="form-label">Info</label>
            <textarea name="body" class="form-input textarea" id="tip-form-body" type="text" placeholder="Type here"></textarea>
        </div>
        <div class="form-item flex">
            <label for="address" class="form-label">Address</label>
            <input name="address" class="form-input" id="tip-form-address" type="text" placeholder="12 rue Merlot // Saint-Pierre" required>
        </div>
        <div class="form-item flex">
            <label for="user" class="form-label">By</label>
            <input name="user" class="form-input" id="tip-form-user" type="text" value="{{currentUser.name}}" required>
        </div>
        <button class="form-button" id="tip-form-button" type="submit">Submit</button>
    </form>
</section>