<section class="page user-page flex">
    <div class="user-box">
        <div class="user-header flex">
            <h2>{{currentUser.username}}</h2>
        </div>
        <div class="user-main flex">
            <div class="user-main-visited">
                <h3>Visited</h3>
                {{> searchBar}}
                <ul>
                    {{#each currentUser.visited}}
                    <li><a href="/country/{{currentUser._id}}">{{currentUser.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="user-main-wishlist">
                <h3>Wishlist</h3>
                {{> searchBar}}
                <ul>
                    {{#each currentUser.wishlist}}
                    <li><a href="/country/{{currentUser._id}}">{{currentUser.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="tips-box">
        <div class="tips-nav">
            <div class="tips-nav-list">
                <button class="tips-category active" type="button"><i class="fas fa-wine-glass-alt"></i> Bars</button>
                <button class="tips-category" type="button"><i class="fas fa-utensils"></i> Restaurants</button>
                <button class="tips-category" type="button"><i class="fas fa-leaf"></i> Parks</button>
                <button class="tips-category" type="button"><i class="fas fa-eye"></i> Monuments</button>
                <button class="tips-category" type="button"><i class="fas fa-shopping-bag"></i> Shopping</button>
                <button class="tips-category" type="button"><i class="fas fa-info"></i> Info</button>
            </div>
        </div>
        <div class="tips-list">
            {{#each currentUser.tips}}
            <article class="tip-container">
                <div class="tip-category">
                    {{this.category}}
                </div>
                <div class="tip-content">
                    <h3>{{this.name}}</h3>
                    <span class="tip-location">{{this.city}}, {{this.country}}</span>
                    <hr>
                    <p class="tip-body">{{this.body}}</p>
                    <span class="tip-address">{{this.address}}</span>
                    <span class="tip-user">{{this.user}}</span>
                </div>
            </article>
            {{/each}}
        </div>
    </div>
</section>