<section class="page user-page">
    <div class="user-box">
        <div class="user-header">
            <div class="user-header-avatar">
                <img src="{{currentUser.avatar}}" alt="{{currentUser.username}} avatar">
            </div>
            <div class="user-header-username">
                <h2>{{currentUser.username}}</h2>
            </div>
        </div>
        <div class="user-main">
            <div class="user-main-visited">
                <h3>Visited</h3>
                {{> searchBar}}
                <ul>
                    {{#each user.visited}}
                    <li><a href="/country/{{this.codeName}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="user-main-wishlist">
                <h3>Wishlist</h3>
                {{> searchBar}}
                <ul>
                    {{#each user.wishlist}}
                    <li><a href="/country/{{this.codeName}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="tips-box">
        <div class="tips-nav flex">

        {{> tipsList}}

            {{!-- <div class="tips-nav-list">
                <button class="tips-category active" type="button"><i class="fas fa-wine-glass-alt"></i></button>
                <button class="tips-category" type="button"><i class="fas fa-utensils"></i></button>
                <button class="tips-category" type="button"><i class="fas fa-leaf"></i></button>
                <button class="tips-category" type="button"><i class="fas fa-eye"></i></button>
                <button class="tips-category" type="button"><i class="fas fa-shopping-bag"></i></button>
                <button class="tips-category" type="button"><i class="fas fa-info"></i></button>
            </div> --}}
        </div>
        <div class="tips-list">
            {{#unless tips}}
                <p>Nothing here yet. You can fix that in no time !</p>
            {{/unless}}
            {{#each currentUser.tips}}
            <article class="tip-container">
                <div class="tip-category">
                    {{this.category}}
                </div>
                <div class="tip-content">
                    <h3>{{this.name}}</h3>
                    <span class="tip-location">{{this.city}}, {{this.country}}</span>
                    <hr>
                    <p class="tip-body">{{this.body}}</p>
                    <span class="tip-address">{{this.address}}</span>
                    <span class="tip-user">{{this.user}}</span>
                </div>
            </article>
            {{/each}}
        </div>
    </div>
</section>